<script setup lang="ts">
import { useMaterialStore } from '@/stores/material';
import { onMounted, ref } from 'vue';
import MatHeader from '../../components/headers/MatHeader.vue';
import MaterialDialog from './MaterialDialog.vue';
import MessageDialog from '@/components/MessageDialog.vue';
import ConfirmDialog from '@/components/ConfirmDialog.vue';
import SuccessDialog from '@/components/SuccessDialog.vue';
const confirmDlg = ref();
const materialStore = useMaterialStore();
onMounted(async () => {
  console.log(import.meta.env)
  await materialStore.getMaterials();
});
const deleleMaterial = async (id: number) => {
  try {
    await confirmDlg.value.openDialog("Please Confirm", `คุณต้องลบหรือไม่`);
    materialStore.deleteMaterial(id);
  } catch (e) { /* empty */ }
}

</script>
<template>
  <MatHeader />
  <MaterialDialog></MaterialDialog>
  <SuccessDialog></SuccessDialog>
  <v-parallax     src="black-and-white-coffee-shop-background-eps-free-vector.jpg"
 height="auto">
    <v-container>
      <MessageDialog></MessageDialog>
      <cus-dialog></cus-dialog>
      <v-btn @click="materialStore.dialog = true" color="brown-lighten-1" prepend-icon="mdi-pen-plus" rounded="pill">Add
        New</v-btn>
      <v-container>
        <v-table id="customers" fixed-header height="750">
          <thead>
            <tr>
              <th>Image</th>
              <th>Name</th>
              <th>Unit</th>
              <th>Stock In Date</th>
              <th>Expired Date</th>
              <th>AmountLeft</th>
              <th></th>
              <th>Minimun</th>
              <th>Operations</th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="item of materialStore.materials" :key="item.id">
              <td><v-img :src="`http://localhost:3000/materials/image/${item.image}`" height="128px"></v-img></td>
              <td v-if="item.amountLeft <= 5" style="color: red;">{{ item.name }}</td>
              <td v-if="item.amountLeft > 5">{{ item.name }}</td>
              <td>{{ item.unit }} kg</td>
              <td>{{ item.stockIn }}</td>
              <td>{{ item.expire }}</td>
              <td>{{ item.amountLeft }} kg</td>
              <td>
          <v-btn class="mr-5"  @click="item.amountLeft--"
           color="success" rounded="lg"><v-icon>mdi-minus</v-icon></v-btn>
          <v-btn class="mr-5"  @click="item.amountLeft++"
           color="success" rounded="lg"><v-icon>mdi-plus</v-icon></v-btn>
          </td>
              <td>{{ item.minimun }} kg</td>
              <td>
                <v-btn class="mr-5" color="amber lighten-5" rounded="lg"
                  @click="materialStore.editMaterial(item)"><v-icon>mdi-note-edit-outline</v-icon></v-btn><v-btn
                  color="red lighten-1" rounded="lg"
                  @click="deleleMaterial(item.id!)"><v-icon>mdi-trash-can-outline</v-icon></v-btn>
              </td>
            </tr>
          </tbody>
        </v-table>
      </v-container>
    </v-container>
  </v-parallax>
  <ConfirmDialog ref="confirmDlg"></ConfirmDialog>
  <v-bottom-navigation bg-color="brown" width="100%" color="brown" height="100px"
    class="d-flex align-center justify-center">
    &copy; Created by Ford-Ranger
  </v-bottom-navigation>
</template>
<style scoped>
#customers tr:nth-child(even) {
  background-color: #f2f2f2;
}

#customers tr:hover {
  background-color: #ddd;
}

#customers th {
  background-color: #795548;
  color: white;
  text-align: center;
}
#customers td {
  text-align: center;
}
</style>