<script lang="ts" setup>
import { useCustomerStore } from "@/stores/cus";
import { useMaterialStore } from "@/stores/material";
import type { validate } from "@babel/types";
import { ref } from "vue";
import type { VForm } from "vuetify/components";
const form = ref<VForm | null>(null);
const materialStore = useMaterialStore();
async function save() {
  const { valid } = await form.value!.validate();
  if (valid) {
    await materialStore.saveMaterial()
  }
}

</script>
<template>
  <v-dialog v-model="materialStore.dialog" persistent width="1024">
    <v-card color="brown">
      <v-card-title>
        <span class="text-h5"><v-icon aria-hidden="false" style="margin: 15px;">mdi-spoon-sugar</v-icon>Material</span>
      </v-card-title>
      <v-card-text>
        <v-form ref="form">
          <v-container>
            <v-row>
              <v-col cols="12">
                <v-text-field bg-color="brown-lighten-1" label="Material Name*" required
                  v-model="materialStore.editedMaterial.name" :rules="[
                    (v) => !!v || 'Item is required',
                    (v) => v.length >= 3 || 'Length must more than 3',
                  ]"
                  append-inner-icon="mdi-list-box-outline"
                  ></v-text-field>
              </v-col>
              <v-col cols="12">
                <v-text-field bg-color="brown-lighten-1" label="Unit*" required
                  v-model.number="materialStore.editedMaterial.unit"
                  :rules="[(v) => !!v || 'Item is required']"
                  append-inner-icon="mdi-weight-kilogram"
                  ></v-text-field>
              </v-col>
              <v-col cols="12">
                <v-text-field
                bg-color="brown-lighten-1"
                  label="Stock in Date*"
                  required
                  v-model="materialStore.editedMaterial.stockIn"
                  :rules="[
                    (v) => !!v || 'Item is required',
                  ]"
                  append-inner-icon="mdi-sort-calendar-ascending" 
                ></v-text-field>
              </v-col>
              <v-col cols="12">
                <v-text-field
                bg-color="brown-lighten-1"
                  label="Expired Date*"
                  required
                  v-model="materialStore.editedMaterial.expire"
                  :rules="[
                    (v) => !!v || 'Item is required',
                  ]"
                  append-inner-icon="mdi-trash-can-outline" 
                ></v-text-field>
              </v-col>
              <v-col cols="12">
                <v-text-field
                bg-color="brown-lighten-1"
                  label="AmountLeft*"
                  required
                  v-model="materialStore.editedMaterial.amountLeft"
                  :rules="[
                    (v) => !!v || 'Item is required',
                  ]"
                  append-inner-icon="mdi-trash-can-outline" 
                ></v-text-field>
              </v-col>
              <v-col cols="12">
                <v-text-field
                bg-color="brown-lighten-1"
                  label="Minimun*"
                  required
                  v-model="materialStore.editedMaterial.minimun"
                  :rules="[
                    (v) => !!v || 'Item is required',
                  ]"
                  append-inner-icon="mdi-trash-can-outline" 
                ></v-text-field>
              </v-col>
              <v-col col="12"><v-file-input v-model="materialStore.editedMaterial.files"
                accept="image/*"
                label="File input"
                prepend-icon="mdi-camera"
                ></v-file-input></v-col>
            </v-row>
          </v-container>
        </v-form>
      </v-card-text>
      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn color="white" variant="elevated" @click="materialStore.dialog = false">
          Close
        </v-btn>
        <v-btn color="white" variant="elevated" @click="save"> Save </v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>
