<template>
  <v-app-bar color="brown"><v-app-bar-title class="text-center"><v-icon aria-hidden="false"
        style="margin: 7px;">mdi-account-multiple-plus</v-icon>Membership List by Query</v-app-bar-title>
  </v-app-bar>
</template>
