<template>
  <v-app-bar color="brown"><v-app-bar-title class="text-center"><v-icon aria-hidden="false"
        style="margin: 7px;">mdi-monitor-dashboard</v-icon>Dashboard</v-app-bar-title>
  </v-app-bar>
</template>
