<script setup lang="ts">
import { useAuthStore } from '@/stores/auth';
const loginStore = useAuthStore();
</script>
<template>
  <v-app-bar color="brown"><v-app-bar-title class="text-center"><v-icon aria-hidden="false"
        style="margin: 7px;">mdi-home</v-icon>Home Page</v-app-bar-title><v-btn @click="loginStore.logout"><v-icon> mdi-logout-variant</v-icon></v-btn></v-app-bar>
</template>
