<template>
  <v-app-bar color="brown"><v-app-bar-title class="text-center"><v-icon aria-hidden="false"
        style="margin: 7px;">mdi-coffee</v-icon>Product List by Query</v-app-bar-title></v-app-bar>
</template>
