<template>
  <v-app-bar color="brown"><v-app-bar-title class="text-center"><v-icon aria-hidden="false"
        style="margin: 7px;">mdi-receipt-text-check-outline</v-icon>Receipt History</v-app-bar-title>
  </v-app-bar>
</template>
