<script setup lang="ts">

</script>
<template>
  <v-app-bar color="brown"><v-app-bar-title class="text-center"><v-icon aria-hidden="false"
        style="margin: 7px;">mdi-account-key</v-icon>User</v-app-bar-title>
  </v-app-bar>
</template>
