<script setup lang="ts">
import EmployeeHeader from '@/components/headers/EmployeeHeader.vue';
import { useEmployeeStore } from '@/stores/employee';
import { onMounted, ref } from 'vue';
import ConfirmDialog from '@/components/ConfirmDialog.vue';
import MessageDialog from '@/components/MessageDialog.vue';
import SuccessDialog from '@/components/SuccessDialog.vue';
import EmployeeDialog from './EmployeeDialog.vue';
const employeeStore = useEmployeeStore();
const confirmDlg = ref();
onMounted(async ()=> {
  console.log(import.meta.env)
  await employeeStore.getEmployees();
});
const deleleEmployees = async (id: number) => {
  try {
    await confirmDlg.value.openDialog("Please Confirm", `คุณต้องการลบหรือไม่`);
    employeeStore.deleteEmployee(id);
  } catch(e) { /* empty */ } 
}
</script>
<template>
    <EmployeeHeader></EmployeeHeader>
    <EmployeeDialog></EmployeeDialog>
    <SuccessDialog></SuccessDialog>
    <MessageDialog></MessageDialog>
    <v-parallax
src="black-and-white-coffee-shop-background-eps-free-vector.jpg" height="auto">
    <v-container>
        <cus-dialog></cus-dialog>
        <v-btn @click="employeeStore.dialog = true" color="brown-lighten-1" prepend-icon="mdi-pen-plus" rounded="pill">Add
            New</v-btn>
        <v-container>
            <v-table id="customers" fixed-header height="750">
                <thead>
                    <tr>
                        <th>Image</th>
                        <th>Name</th>
                        <th>Address</th>
                        <th>Tel</th>
                        <th>Email</th>
                        <th>Position</th>
                        <th>Time to Work</th>
                        <th>Time Off</th>
                        <th>Hourly</th>
                        <th>Salary</th>
                        <th>Operations</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="item of employeeStore.employees" :key="item.id">
                        <td><v-img :src="`http://localhost:3000/employees/image/${item.image}`" height="128px"></v-img></td>
                        <td>{{ item.name }}</td>
                        <td>{{ item.address }}</td>
                        <td>{{ item.tel }}</td>
                        <td>{{ item.email }}</td>
                        <td>{{ item.position }}</td>
                        <td>{{ item.timetowork }}</td>
                        <td>{{ item.timeoff }}</td>
                        <td>{{ item.hourly }} ชม.</td>
                        <td>{{ item.salary }} Bath</td>
                        <td>
                            <v-btn class="mr-5" color="amber lighten-5" @click="employeeStore.editEmployee(item)"
                                rounded="lg"><v-icon>mdi-note-edit-outline</v-icon></v-btn><v-btn color="red lighten-1"
                                @click="deleleEmployees(item.id!)"
                                rounded="lg"><v-icon>mdi-trash-can-outline</v-icon></v-btn>
                        </td>
                    </tr>
                </tbody>
            </v-table>
        </v-container>
    </v-container>
    </v-parallax>
    <ConfirmDialog ref="confirmDlg"></ConfirmDialog>
    <v-bottom-navigation  bg-color="brown"

        width="100%"
        color="brown"
        height="100px"
        class="d-flex align-center justify-center"
      >
      &copy; Created by Ford-Ranger
</v-bottom-navigation>
</template>
<style scoped>
#customers tr:nth-child(even) {
  background-color: #f2f2f2;
}

#customers tr:hover {
  background-color: #ddd;
}

#customers th {
  background-color: #795548;
  color: white;
  text-align: center;
}
#customers td {
  text-align: center;
}
</style>
