<script lang="ts" setup>
import { useCustomerStore } from "@/stores/cus";
import { useEmployeeStore } from "@/stores/employee";
import type { validate } from "@babel/types";
import { ref } from "vue";
import type { VForm } from "vuetify/components";
const form = ref<VForm | null>(null);
  const employeeStore = useEmployeeStore();
async function save() {
  const { valid } = await form.value!.validate();
  if (valid) {
    await employeeStore.saveEmployee()
  }
}
</script>
<template>
  <v-dialog v-model="employeeStore.dialog" persistent width="1024">
    <v-card color="brown">
      <v-card-title>
        <span class="text-h5"><v-icon aria-hidden="false" style="margin: 15px;">mdi-account-hard-hat</v-icon>Employee</span>
      </v-card-title>
      <v-card-text>
        <v-form ref="form">
          <v-container>
            <v-row>
              <v-col cols="12">
                <v-text-field bg-color="brown-lighten-1" label="Name*" required
                  v-model="employeeStore.editedEmployee.name" :rules="[
                    (v) => !!v || 'Item is required',
                    (v) => v.length >= 3 || 'Length must more than 3',
                  ]"
                  append-inner-icon="mdi-card-account-details"
                  ></v-text-field>
              </v-col>
              <v-col cols="12">
                <v-text-field bg-color="brown-lighten-1" label="Address*" required
                  v-model="employeeStore.editedEmployee.address" :rules="[
                    (v) => !!v || 'Item is required',
                    (v) => v.length >= 3 || 'Length must more than 3',
                  ]"
                  append-inner-icon="mdi-map"
                  ></v-text-field>
              </v-col>
              <v-col cols="12">
                <v-text-field bg-color="brown-lighten-1" label="Tel*" required v-model="employeeStore.editedEmployee.tel"
                  :rules="[
                    (v) => !!v || 'Item is required',
                    (v) => v.length == 10 || 'Length must be 10',
                  ]"
                  append-inner-icon="mdi-phone"
                  ></v-text-field>
              </v-col>
              <v-col cols="12">
                <v-text-field
                bg-color="brown-lighten-1"
                  label="Email*"
                  required
                  v-model="employeeStore.editedEmployee.email"
                  :rules="[(v) => !!v || 'Item is required',
                (v) =>
                  /^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$/.test(v) ||
                  'Email is not valid!!',
              ]"
              append-inner-icon="mdi-email"
                ></v-text-field>
              </v-col>
              <v-col cols="12">
                <v-text-field bg-color="brown-lighten-1" label="Position*" required
                  v-model.number="employeeStore.editedEmployee.position"
                  :rules="[(v) => !!v || 'Item is required']"
                  append-inner-icon="mdi-briefcase-outline"
                  ></v-text-field>
              </v-col>
              <v-col cols="12">
                <v-text-field
                bg-color="brown-lighten-1"
                  label="Time to work*"
                  required
                  v-model="employeeStore.editedEmployee.timetowork"
                  :rules="[
                    (v) => !!v || 'Item is required',
                  ]"
                  append-inner-icon="mdi-sort-calendar-ascending" 
                ></v-text-field>
              </v-col>
              <v-col cols="12">
                <v-text-field
                bg-color="brown-lighten-1"
                  label="Time off*"
                  required
                  v-model="employeeStore.editedEmployee.timeoff"
                  :rules="[
                    (v) => !!v || 'Item is required',
                  ]"
                  append-inner-icon="mdi-sort-calendar-ascending" 
                ></v-text-field>
              </v-col>
              <v-col cols="12">
                <v-text-field bg-color="brown-lighten-1" label="Hourly*" required
                  v-model.number="employeeStore.editedEmployee.hourly"
                  :rules="[(v) => !!v || 'Item is required']"
                  append-inner-icon="mdi-clock-fast"
                  ></v-text-field>
              </v-col>
              <v-col cols="12">
                <v-text-field bg-color="brown-lighten-1" label="Salary*" required
                  v-model.number="employeeStore.editedEmployee.salary"
                  :rules="[(v) => !!v || 'Item is required']"
                  append-inner-icon="mdi-cash"
                  ></v-text-field>
              </v-col>
              <v-col col="12"><v-file-input v-model="employeeStore.editedEmployee.files"
                accept="image/*"
                label="File input"
                prepend-icon="mdi-camera"
                ></v-file-input></v-col>
            </v-row>
          </v-container>
        </v-form>
      </v-card-text>
      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn color="white" variant="elevated" @click="employeeStore.dialog = false">
          Close
        </v-btn>
        <v-btn color="white" variant="elevated" @click="save"> Save </v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>
