<script lang="ts" setup>
import { useCategoryStore } from "@/stores/category";
import { useProductStore } from "@/stores/product";
import { onMounted, ref } from "vue";
import type { VForm } from "vuetify/components";
const form = ref<VForm | null>(null);
const productStore = useProductStore();
const categoryStore = useCategoryStore();
async function save() {
  const { valid } = await form.value!.validate();
  if ( valid ) {
    await productStore.saveProduct()
  }
}
onMounted(async ()=> {
  await categoryStore.getCategories();
});
</script>
<template>
  <v-dialog v-model="productStore.dialog" persistent width="1024">
    <v-card color="brown">
      <v-card-title>
        <span class="text-h5"><v-icon aria-hidden="false" style="margin: 15px;">mdi-coffee</v-icon>Product</span>
      </v-card-title>
      <v-card-text>
        <v-form ref="form">
          <v-container>
            <v-row>
              <v-col cols="12">
                <v-text-field
                bg-color="brown-lighten-1"
                  label="Product Name*"
                  required
                  v-model="productStore.editedProduct.name"
                  :rules="[
                    (v) => !!v || 'Item is required',
                    (v) => v.length >= 3 || 'Length must more than 3',
                  ]"
                  append-inner-icon="mdi-food-outline" 
                ></v-text-field>
              </v-col>
              <v-col cols="12">
                <v-text-field
                bg-color="brown-lighten-1"
                  label="Price*"
                  required
                  v-model.number="productStore.editedProduct.price"
                  :rules="[(v) => !!v || 'Item is required']"
                  append-inner-icon="mdi-currency-usd" 
                ></v-text-field>
              </v-col>
              <v-col cols="12">
                <v-select
                  v-model="productStore.editedProduct.categoryId"
                  :items="categoryStore.categories"
                  item-title="name"
                  item-value="id"
                  label="Select"
                  persistent-hint
                  single-line
                  append-inner-icon="mdi-format-list-bulleted-type"
                ></v-select>
              </v-col>
              <v-col col="12"><v-file-input v-model="productStore.editedProduct.files"
                accept="image/*"
                label="File input"
                prepend-icon="mdi-camera"
                ></v-file-input></v-col>
            </v-row>
          </v-container>
        </v-form>
      </v-card-text>
      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn
          color="white"
          variant="elevated"
          @click="productStore.dialog = false"
        >
          Close
        </v-btn>
        <v-btn color="white" variant="elevated" @click="save"> Save </v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>
