<script lang="ts" setup>
import ProdHeader from '@/components/headers/ProdHeader.vue';
import { useProductStore } from '@/stores/product';
import { onMounted, ref } from "vue";
import ProductDialog from "./ProductDialog.vue";
import ConfirmDialog from '@/components/ConfirmDialog.vue';
import MessageDialog from '@/components/MessageDialog.vue';
import SuccessDialog from '@/components/SuccessDialog.vue';
import { useCategoryStore } from '@/stores/category';
const productStore = useProductStore();
const categoryStore = useCategoryStore();
const confirmDlg = ref();
onMounted(async () => {
  await categoryStore.getCategories();
  await productStore.getProductsByCategory(productStore.category);
});
const deleleProduct = async (id: number) => {
  try {
    await confirmDlg.value.openDialog("Please Confirm", `คุณต้องลบหรือไม่`);
    productStore.deleteProduct(id);
  } catch (e) { /* empty */ }
}
</script>
<template>
  <ProdHeader></ProdHeader>
<v-parallax
src="black-and-white-coffee-shop-background-eps-free-vector.jpg"
    height="auto"
  >
  <v-container>
    <MessageDialog></MessageDialog>
    <SuccessDialog></SuccessDialog>
    <ProductDialog></ProductDialog>
    <v-btn @click="productStore.dialog = true" color="brown-lighten-1" prepend-icon="mdi-pen-plus" rounded="pill">Add
      New</v-btn>
    <v-container>
      <v-tabs  align-tabs="start">
        <v-spacer></v-spacer>
          <v-text-field v-model="productStore.keyword" placeholder="Search..." hide-details append-inner-icon="mdi-magnify"
            variant="solo" color="white"></v-text-field>
      </v-tabs>
      <v-tabs></v-tabs>
      <v-spacer></v-spacer>
      <v-tabs v-model="productStore.category"  color="brown" bg-color="white">
        <v-tab v-for="item of categoryStore.categories" :value="item.id" :key="item.id">{{ item.name }}</v-tab>
      </v-tabs>
    <!-- </v-container>
    <v-container> -->
      <v-table id="customers" fixed-header height="750px">
        <thead>
          <tr>
            <th>Image</th>
            <th>Name</th>
            <th>Price</th>
            <th>Operations</th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="item of productStore.products" :key="item.id">
            <td><v-img :src="`http://localhost:3000/products/image/${item.image}`" height="128px"></v-img></td>
            <td>{{ item.name }}</td>
            <td>{{ item.price }}</td>
            <td>
              <v-btn class="mr-5" color="amber lighten-5" @click="productStore.editProduct(item)"
                rounded="lg"><v-icon>mdi-note-edit-outline</v-icon></v-btn><v-btn color="red lighten-1"
                @click="deleleProduct(item.id!)" rounded="lg"><v-icon>mdi-trash-can-outline</v-icon></v-btn>
            </td>
          </tr>
        </tbody>
      </v-table>
    </v-container>
  </v-container>
</v-parallax>
  <ConfirmDialog ref="confirmDlg"></ConfirmDialog>
  <v-bottom-navigation  bg-color="brown"

        width="100%"
        color="brown"
        height="100px"
        class="d-flex align-center justify-center"
      >
    &copy; Created by Ford-Ranger
</v-bottom-navigation>
</template>
<style scoped>
#customers tr:nth-child(even) {
  background-color: #f2f2f2;
}

#customers tr:hover {
  background-color: #ddd;
}

#customers th {
  background-color: #795548;
  color: white;
  text-align: center;
}
#customers td {
  text-align: center;
}
</style>
