<script setup lang="ts">
import { useCreditStore } from '@/stores/creditcard';
import { useOrderStore } from '@/stores/order';
import { ref } from 'vue';
const orderStore = useOrderStore();
const credStore = useCreditStore();
</script>
<template>
  <v-dialog v-model="credStore.dialog" persistent width="1024">
    <v-card color="brown">
      <v-card-title class="text-h5">
        ชำระเงินแบบ Credit Card
      </v-card-title>
      <v-card-text>
        <v-col cols="12">
                <p>สุทธิรวม : {{ orderStore.sumPrice }} บาท</p>
                <p>จำนวนรวม : {{ orderStore.sumAmount}} ชิ้น</p>
              </v-col>
        <v-col cols="12">
          <v-text-field bg-color="brown-lighten-1" label=" เลขบัตร Credit*" required 
          v-model="credStore.editedCredit.creditnumber"
          append-inner-icon="mdi-credit-card-search-outline"
          :rules="[
            (v) => !!v || 'Item is required',
          ]"></v-text-field>
          <v-text-field bg-color="brown-lighten-1" label=" ชื่อผู้ถือบัตร Credit*" required 
          v-model="credStore.editedCredit.creditname"
          append-inner-icon="mdi-credit-card-search-outline"
          :rules="[
            (v) => !!v || 'Item is required',
          ]"></v-text-field>
          <v-text-field bg-color="brown-lighten-1" label="จำนวนเงิน*" required
          v-model="credStore.editedCredit.creditamount"
            append-inner-icon="mdi-cash-multiple" :rules="[
              (v) => !!v || 'Item is required',
            ]"></v-text-field>
        </v-col>
      </v-card-text>
      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn color="white" variant="text" @click="credStore.dialog = false">
          ยกเลิก
        </v-btn>
        <v-btn color="white" variant="text" @click="credStore.saveCredit()">
          เสร็จสิ้น
        </v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>