<script setup lang="ts">
import cash from '@/services/cash';
import { useCashStore } from '@/stores/cash';
import { useMoneyStore } from '@/stores/money';
import { useOrderStore } from '@/stores/order';
import { onMounted, ref } from 'vue';
import type { VForm } from "vuetify/components";
const form = ref<VForm | null>(null);
const moneyStore = useMoneyStore();
const cashStore = useCashStore();
const orderStore = useOrderStore();
// async function save() {
//   const { valid } = await form.value!.validate();
//   if (valid) {
//     await cashStore.saveCash()
//   }
// }
</script>
<template>
    <v-dialog
      v-model="cashStore.dialog"
      persistent width="1024">
      <v-card color="brown">
        <v-card-title class="text-h5">
          ชำระเงินแบบเงินสด
        </v-card-title>
        <v-card-text >
          <v-col cols="12">
                <p>สุทธิรวม : {{ orderStore.sumPrice }} บาท</p>
                <p>จำนวนรวม : {{ orderStore.sumAmount}} ชิ้น</p>
              </v-col>
              <v-col cols="12">
                <v-text-field bg-color="brown-lighten-1" label="เงินที่ต้องจ่าย*" required
                v-model="cashStore.editedCash.cashsum"
                
                  :rules="[
                    (v) => !!v || 'Item is required',
                  ]"
                  append-inner-icon="mdi-card-account-details"
                  ></v-text-field>
              </v-col>
              <v-col cols="12">
                <v-text-field bg-color="brown-lighten-1" label="เงินที่จ่าย*" required
                v-model="cashStore.editedCash.cashamount"
                  :rules="[
                    (v) => !!v || 'Item is required',
                  ]"
                  append-inner-icon="mdi-card-account-details"
                  ></v-text-field>
              </v-col>
              <v-col cols="12">
                <v-text-field

                bg-color="brown-lighten-1"
                  label="เงินทอน*"
                  v-model="cashStore.editedCash.cashchange"
                  required
                  :rules="[
                    (v) => !!v || 'Item is required',
                  ]"
                ></v-text-field>
              </v-col>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn
            color="white"
            variant="text"
            @click="cashStore.dialog = false"
          >
          ยกเลิก
          </v-btn>
          <v-btn
            color="white"
            variant="text"
            @click="cashStore.saveCash()" 
          >
          เสร็จสิ้น
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
</template>