<script setup lang="ts">
import { useMoneyStore } from '@/stores/money';
import { useOrderStore } from '@/stores/order';
import { useQrcodeStore } from '@/stores/qrcode';
import { ref } from 'vue';
const orderStore = useOrderStore();
const qrcodeStore = useQrcodeStore();
</script>
<template>
    <v-dialog
      v-model="qrcodeStore.dialog"
      persistent
      width="auto">
      <v-card  color="brown">
        <v-card-title class="text-h5">
          ชำระเงินแบบ QR Code
        </v-card-title>
        <v-card-text>
          <v-col cols="12">
                <p>สุทธิรวม : {{ orderStore.sumPrice }} บาท</p>
                <p>จำนวนรวม : {{ orderStore.sumAmount}} ชิ้น</p>
              </v-col>
          <v-img
  :width="400"
  aspect-ratio="16/9"
  cover
  src="IMG_0955.jpg"
></v-img></v-card-text>
<v-col cols="12"><v-text-field bg-color="brown-lighten-1" label="จำนวนเงิน*" required
          v-model="qrcodeStore.editedQrcode.qrcodeamount"
            append-inner-icon="mdi-cash-multiple" :rules="[
              (v) => !!v || 'Item is required',
            ]"></v-text-field>
        </v-col>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn
            color="white"
            variant="text"
            @click="qrcodeStore.dialog = false"
          >
          ยกเลิก
          </v-btn>
          <v-btn
            color="white"
            variant="text"
            @click="qrcodeStore.saveQrcode()"
          >
          เสร็จสิ้น
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
</template>