<script lang="ts" setup>
import { useCustomerStore } from "@/stores/cus";
import type { validate } from "@babel/types";
import { ref } from "vue";
import type { VForm } from "vuetify/components";
const form = ref<VForm | null>(null);
const customerStore = useCustomerStore();
async function save() {
  const { valid } = await form.value!.validate();
  if (valid) {
    await customerStore.saveCustomer()
  }
}
</script>
<template>
  <v-dialog v-model="customerStore.dialog" persistent width="1024">
    <v-card color="brown">
      <v-card-title>
        <span class="text-h5"><v-icon aria-hidden="false" style="margin: 15px;">mdi-account-multiple-plus</v-icon>Membership</span>
      </v-card-title>
      <v-card-text>
        <v-form ref="form">
          <v-container>
            <v-row>
              <v-col cols="12">
                <v-text-field bg-color="brown-lighten-1" label="Name*" required
                  v-model="customerStore.editedCustomer.name" :rules="[
                    (v) => !!v || 'Item is required',
                    (v) => v.length >= 3 || 'Length must more than 3',
                  ]"
                  append-inner-icon="mdi-card-account-details"
                  ></v-text-field>
              </v-col>
              <v-col cols="12">
                <v-text-field bg-color="brown-lighten-1" label="Age*" required
                  v-model.number="customerStore.editedCustomer.age"
                  :rules="[(v) => !!v || 'Item is required']"
                  append-inner-icon="mdi-counter"
                  ></v-text-field>
              </v-col>
              <v-col cols="12">
                <v-text-field bg-color="brown-lighten-1" label="Tel*" required v-model="customerStore.editedCustomer.tel"
                  :rules="[
                    (v) => !!v || 'Item is required',
                    (v) => v.length == 10 || 'Length must be 10',
                  ]"
                  append-inner-icon="mdi-phone"
                  ></v-text-field>
              </v-col>
              <v-col cols="12">

                <v-select label="Gender"
                  :items="['Man', 'Women', 'Not Specified']"
                  v-model="customerStore.editedCustomer.gender"
                  :rules="[
                    (v) => !!v || 'Item is required']"
                    append-inner-icon="mdi-gender-male-female"
                    ></v-select>
              </v-col>
              <v-col cols="12">
                <v-text-field bg-color="brown-lighten-1" label="Add Points Here*" required
                  v-model.number="customerStore.editedCustomer.points" 
                  append-inner-icon="mdi-rhombus-split"
                  ></v-text-field>
              </v-col>
            </v-row>
          </v-container>
        </v-form>
      </v-card-text>
      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn color="white" variant="elevated" @click="customerStore.dialog = false">
          Close
        </v-btn>
        <v-btn color="white" variant="elevated" @click="save"> Save </v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>
