<script lang="ts" setup>
import { useCustomerStore } from '@/stores/cus';
import CusDialog from './CusDialog.vue';
import CusHeader from '@/components/headers/CusHeader.vue';
import MessageDialog from '@/components/MessageDialog.vue';
import { onMounted, ref } from 'vue';
import ConfirmDialog from '@/components/ConfirmDialog.vue';
import SuccessDialog from '@/components/SuccessDialog.vue';
import { useMoneyStore } from '@/stores/money';
import type { VForm } from "vuetify/components";
const form = ref<VForm | null>(null);
async function save() {
  const { valid } = await form.value!.validate();
  if (valid) {
    await customerStore.saveCustomer()
  }
}

const customerStore = useCustomerStore();

const confirmDlg = ref();
onMounted(async () => {
  console.log(import.meta.env)
  await customerStore.getCustomers();
});

const deleleCustomer = async (id: number) => {
  try {
    await confirmDlg.value.openDialog("Please Confirm", `คุณต้องการลบหรือไม่`);
    customerStore.deleteCustomer(id);
  } catch (e) { /* empty */ }
}
</script>
<template>
  <CusHeader></CusHeader>
  <v-parallax src="black-and-white-coffee-shop-background-eps-free-vector.jpg" height="auto">
    <v-container>
      <MessageDialog></MessageDialog>
      <SuccessDialog></SuccessDialog>
      <cus-dialog></cus-dialog>
      <v-btn @click="customerStore.dialog = true" color="brown-lighten-1" prepend-icon="mdi-pen-plus" rounded="pill">Add
        New</v-btn>
      <v-tabs>
        <v-spacer></v-spacer>
        <v-text-field v-model="customerStore.keyword" placeholder="Search..." hide-details append-inner-icon="mdi-magnify"
          variant="solo"></v-text-field>
      </v-tabs>
      <v-tabs></v-tabs>
      <!-- <v-container> -->
        <v-table id="customers" fixed-header height="750">
          <thead>
            <tr>
              <th>Name</th>
              <th>Age</th>
              <th>Tel</th>
              <th>Gender</th>
              <th>Points</th>
              <th></th>
              <th>Operations</th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="item of customerStore.customers" :key="item.id">
              <td>{{ item.name }}</td>
              <td>{{ item.age }}</td>
              <td>{{ item.tel }}</td>
              <td>{{ item.gender }}</td>
              <td>{{ item.points }}</td>

              <td>
                <v-btn class="mr-5" @click="item.points--" color="success" rounded="lg"><v-icon>mdi-minus</v-icon></v-btn>
                <v-btn class="mr-5" @click="item.points++" color="success" rounded="lg"><v-icon>mdi-plus</v-icon></v-btn>
              </td>
              <td>
                <v-btn class="mr-5" color="amber lighten-5" @click="customerStore.editCustomer(item)"
                  rounded="lg"><v-icon>mdi-note-edit-outline</v-icon></v-btn><v-btn color="red lighten-1"
                  @click="deleleCustomer(item.id!)" rounded="lg"><v-icon>mdi-trash-can-outline</v-icon></v-btn>
              </td>
            </tr>
          </tbody>
        </v-table>
      <!-- </v-container> -->
    </v-container>
  </v-parallax>
  <ConfirmDialog ref="confirmDlg"></ConfirmDialog>
  <v-bottom-navigation bg-color="brown" width="100%" color="brown" height="100px"
    class="d-flex align-center justify-center">
    &copy; Created by Ford-Ranger
  </v-bottom-navigation>
</template>
<style scoped>
#customers tr:nth-child(even) {
  background-color: #f2f2f2;
}

#customers tr:hover {
  background-color: #ddd;
}

#customers th {
  background-color: #795548;
  color: white;
  text-align: center;
}
#customers td {
  text-align: center;
}
</style>

