<script lang="ts" setup>
import { useUserStore } from '@/stores/user'
import UserDialog from './users/UserDialog.vue'
import DashHeader from '@/components/headers/DashHeader.vue'
import MessageDialog from '@/components/MessageDialog.vue'
import ConfirmDialog from '@/components/ConfirmDialog.vue'
import SuccessDialog from '@/components/SuccessDialog.vue'
import { onMounted, ref } from 'vue'
import { useOrderStore } from '@/stores/order'
import { useEmployeeStore } from '@/stores/employee'
import employee from '@/services/employee'
import Chart, { type ChartConfiguration, type ChartItem } from 'chart.js/auto'

const labels = ['Espresso ','Iced Cocoa', 'Chocolate Smoothie', 'Oreo Smoothie ','Milk Smoothie ','Green Tea Latte','Americano','Mocha']

const data = {
  labels: labels,
  datasets: [
    {
      label: 'Drink',
      backgroundColor: 'black',
      borderColor: 'brown',
      data: [6, 22, 14, 6, 10, 8, 16, 8]
    },
  ]
}



const config: ChartConfiguration = {
  type: 'line',
  data: data,
  options: {}
};

onMounted(() => {
  const canvasTag = <ChartItem>document.getElementById('myChart')
    new Chart(
      canvasTag,
      config
    );
  })



const confirmDlg = ref()
const orderStore = useOrderStore()
const employeeStore = useEmployeeStore()
function formatDate(itemDate?: string) {
  console.log(typeof itemDate)
  const formatedDate = new Date(itemDate ?? '')
  const date = formatedDate.toLocaleDateString()
  const time = formatedDate.toTimeString()
  return `Date : ${date} Time : ${time}`
}
onMounted(async () => {
  await orderStore.getOrders()
  await employeeStore.getEmployees()
})
</script>
<template>
  <DashHeader></DashHeader>
  <v-parallax src="black-and-white-coffee-shop-background-eps-free-vector.jpg" height="auto">
    <v-container>
      <SuccessDialog></SuccessDialog>
      <MessageDialog></MessageDialog>
      <user-dialog></user-dialog>
      <v-container>
        <v-row>
          <v-col cols="12" md="6">
            <v-card>
              <v-card-title class="text-h5"><v-icon style="margin: 7px;">mdi-seal</v-icon>Best Seller</v-card-title>
              <canvas id="myChart"></canvas>
              <!-- <v-card-text>
                <v-table id="customers" fixed-header height="350">
                  <thead>
                    <tr>
                      <th>ID</th>
                      <th>Amount</th>
                      <th>Total</th>
                      <th>Order Date and Time</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr v-for="item of orderStore.orders" :key="item.id">
                      <td>{{ item.id }}</td>
                      <td>{{ item.amount }} QTY </td>
                      <td>{{ item.total }} Bath </td>
                      <td>{{ formatDate(item.createdDate) }}<v-icon class="ma-5">mdi-clock-check-outline</v-icon></td>
                    </tr>
                  </tbody>
                </v-table>
              </v-card-text> -->
            </v-card>
            <v-tabs></v-tabs>
            <v-card>
              <v-card-title class="text-h5"><v-icon style="margin: 7px;">mdi-clock-time-eight-outline</v-icon>Employee Time</v-card-title>
              <v-card-text>
                <v-table id="customers" fixed-header height="350">
                  <thead>
                    <tr>
                      <th>Name</th>
                      <th>Time to Work</th>
                      <th>Time Off</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr v-for="item of employeeStore.employees" :key="item.id">
                      <td>{{ item.name }}</td>
                      <td>{{ item.timetowork }}</td>
                      <td>{{ item.timeoff }}</td>
                    </tr>
                  </tbody>
                </v-table>
              </v-card-text>
            </v-card>
          </v-col>
          <v-col cols="12" md="6">
            <v-card>
              <v-card-title><v-icon style="margin: 7px;">mdi-clipboard-text-clock-outline</v-icon>Recent Orders</v-card-title>
              <v-card-text>
                <v-table id="customers" fixed-header height="812">
                  <thead>
                    <tr>
                      <th>Name</th>
                      <th>QTY</th>
                      <th>Price</th>
                    </tr>
                  </thead>
                  <tbody v-for="item of orderStore.orders" :key="item.id">
                    <tr v-for="orderItem of item.orderItems" :key="orderItem.id">
                      <td>{{ orderItem.name }}</td>
                      <td>{{ orderItem.amount }}</td>
                      <td>{{ orderItem.price }}</td>
                    </tr>
                  </tbody>
                </v-table>
              </v-card-text>
            </v-card>
          </v-col>
        </v-row>
      </v-container>
    </v-container>
    <ConfirmDialog ref="confirmDlg"></ConfirmDialog>
  </v-parallax>
  <v-bottom-navigation
    bg-color="brown"
    width="100%"
    color="brown"
    height="100px"
    class="d-flex align-center justify-center"
  >
    &copy; Created by Ford-Ranger
  </v-bottom-navigation>
</template>
<style scoped>
#customers tr:nth-child(even) {
  background-color: #f2f2f2;
}

#customers tr:hover {
  background-color: #ddd;
}

#customers th {
  background-color: #795548;
  color: white;
  text-align: center;
}
#customers td {
  text-align: center;
}
</style>
