<script setup lang="ts">
import { onMounted } from 'vue';
import { useProductStore } from '@/stores/product';
const productStore = useProductStore();
onMounted(async () => {
  await productStore.getProducts();
})

</script>

<template >
<v-app class="d-flex justify-center align-center">
  <v-parallax src="1158153.jpg" height="auto"  >
    <v-container class="mt-16">
      <v-card class="pa-16 justify-center text-center" variant="outlined" color="black" >
        <v-row class="d-flex justify-center">
          <v-col>
            <v-card class="pa-16 justify-center text-center" color="brown-darken-2">
              <v-card-actions class="justify-center text-center"><v-btn variant="outlined" to="/pointofsell" size="85" icon="mdi-cash-register"></v-btn></v-card-actions>
              <v-card-title>Point Of Sell</v-card-title>
            </v-card>
          </v-col>
          <v-col>
            <v-card class="pa-16 justify-center text-center" color="brown-darken-2">
              <v-card-actions class="justify-center text-center"><v-btn variant="outlined" to="/prodlist" icon="mdi-coffee" size="85"></v-btn></v-card-actions>
              <v-card-title>Product List</v-card-title>
            </v-card>
          </v-col>
          <v-col>
            <v-card class="pa-16 justify-center text-center" color="brown-darken-2">
              <v-card-actions class="justify-center text-center"><v-btn variant="outlined" to="/matlist" icon="mdi-spoon-sugar" size="85"></v-btn></v-card-actions>
              <v-card-title>Material</v-card-title>
            </v-card>
          </v-col>
        </v-row>
        <v-row class="d-flex justify-center">
          <v-col>
            <v-card class="pa-16 justify-center text-center" color="brown-darken-2">
              <v-card-actions class="justify-center text-center"><v-btn variant="outlined" to="/emplist" icon="mdi-account-hard-hat" size="85"></v-btn></v-card-actions>
              <v-card-title>Employee</v-card-title>
            </v-card>
          </v-col>
          <v-col>
            <v-card class="pa-16 justify-center text-center" color="brown-darken-2">
              <v-card-actions class="justify-center text-center"><v-btn variant="outlined" to="/userlist" icon="mdi-account-key" size="85"></v-btn></v-card-actions>
              <v-card-title>User</v-card-title>
            </v-card>
          </v-col>
          <v-col>
            <v-card class="pa-16 justify-center text-center" color="brown-darken-2">
              <v-card-actions class="justify-center text-center"><v-btn variant="outlined" to="/cuslist" icon="mdi-account-multiple-plus" size="85"></v-btn></v-card-actions>
              <v-card-title>Membership</v-card-title>
            </v-card>
          </v-col>
        </v-row>
      </v-card>
    </v-container>
  </v-parallax>
</v-app>
<v-bottom-navigation  bg-color="brown"

        width="100%"
        color="brown"
        class="d-flex align-center justify-center"
      >
        &copy; Created by Ford-Ranger
</v-bottom-navigation>
</template>


