<script setup lang="ts">
import { useAuthStore } from '@/stores/auth'
import { ref } from 'vue'
import type { VForm } from 'vuetify/components'
const authStore = useAuthStore()
const loginName = ref('')
const password = ref('')
const valid = ref(true)
const form = ref<InstanceType<typeof VForm> | null>(null)
const login = async () => {
  const { valid } = await form.value!.validate()
  if (valid) {
    authStore.login(loginName.value, password.value)
  }
}
const clear = () => {
  form.value?.reset()
}
const visible = ref(false)
</script>

<template>
  <v-app>
    <v-parallax src="D-Coffee (2).png">
        <v-row align ="center" justify="center" style="height: 100vh" dense>
          <v-card class="mx-auto" width="350px">
            <v-img src="seed.png" class="text-center"></v-img>
            <v-card-title primary-title class="text-center" text-color="brown">Login</v-card-title>
            <v-card-text>
              <v-form ref="form" v-model="valid">
                <v-text-field
                  label="Email"
                  placeholder="Enter your Email"
                  v-model="loginName"
                  :rules="[
                    (v) => !!v || 'Item is required',
                    (v) =>
                      /^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$/.test(v) ||
                      'Email is not valid!!'
                  ]"
                ></v-text-field>
                <v-text-field
                  clearable
                  label="Password"
                  placeholder="Enter your password"
                  :type="visible ? 'text' : 'password'"
                  v-model="password"
                  @click:append-inner="visible = !visible"
                  :append-inner-icon="visible ? 'mdi-eye-off' : 'mdi-eye'"
                  :rules="[(v) => !!v || 'Item is required']"
                ></v-text-field>
              </v-form>
            </v-card-text>
            <v-card-actions class="justify-center">
              <v-btn color="success" variant="tonal" @click="login">Login</v-btn>
              <v-btn color="error" variant="tonal" @click="clear">Cancel</v-btn>
            </v-card-actions>
          </v-card>
        </v-row>
    </v-parallax>
  </v-app>
</template>
