<script setup lang="ts">
import { onMounted, ref } from "vue";
import PointHeader from "@/components/headers/PointHeader.vue";
import { useProductStore } from "@/stores/product";
import type Product from "@/types/Product";
import { useMoneyStore } from '@/stores/money';
import MoneyDialog from "./paytypedialog/MoneyDialog.vue";
import CredDialog from "./paytypedialog/CredDialog.vue";
import QrCodeDialog from "./paytypedialog/QrCodeDialog.vue";
import { useCreditStore } from "@/stores/creditcard";
import { useQrcodeStore } from "@/stores/qrcode";
import { computed } from "vue";
import { useCategoryStore } from "@/stores/category";
import { useOrderStore } from "@/stores/order";
import SuccessDialog from '@/components/SuccessDialog.vue';
import CusDialog from './customers/CusDialog.vue';
import { useCustomerStore } from "@/stores/cus";
import PosType from "./PosType.vue";
import { useCashStore } from "@/stores/cash";
import OrderRepDialog from "./order/OrderRepDialog.vue";
const customerStore = useCustomerStore();
const qrcodeStore = useQrcodeStore();
const credStore = useCreditStore();
const cashStore = useCashStore();
const moneyStore = useMoneyStore();
const productStore = useProductStore();
const categoryStore = useCategoryStore();
const orderStore = useOrderStore();


onMounted(async () => {
  await categoryStore.getCategories();
  await productStore.getProductsByCategory(productStore.category);
});


</script>
<template>
  <PosType></PosType>
  <PointHeader></PointHeader>
  <MoneyDialog></MoneyDialog>
  <CredDialog></CredDialog>
  <QrCodeDialog></QrCodeDialog>
  <SuccessDialog></SuccessDialog>
  <cus-dialog></cus-dialog>
  <OrderRepDialog></OrderRepDialog>
  <v-parallax src="black-and-white-coffee-shop-background-eps-free-vector.jpg" height="auto">
    <v-container style="max-width: 100%;">
    <v-row>
        <v-col cols="8" style="overflow-y: auto; height: 88vh;">
          <v-container>
            <v-tabs align-tabs="start">
              <v-spacer></v-spacer>
              <v-text-field v-model="productStore.keyword" placeholder="Search..." hide-details
                append-inner-icon="mdi-magnify" variant="solo" color="white"></v-text-field>
            </v-tabs>
            <v-tabs></v-tabs>
            <v-tabs v-model="productStore.category" bg-color="white" color="brown">
              <v-tab v-for="item of categoryStore.categories" :value="item.id" :key="item.id">{{ item.name }}</v-tab>
            </v-tabs>
          </v-container>
          <v-container>
            <v-row>
              <v-col cols="4" v-for="item of productStore.products" :key="item.id">
                <v-card class="pa-2 justify-center text-center">
                  <v-card-title><v-img :src="`http://localhost:3000/products/${item.id}/image`"
                      height="128px"></v-img></v-card-title>
                  <v-card-title>{{ item.name }}</v-card-title>
                  <v-card-text>{{ item.price }} บาท</v-card-text>
                  <v-card-text>
                    <v-btn-toggle rounded="1" color="brown" group variant="flat">
                      <v-btn value="left">
                        หวานน้อย
                      </v-btn>

                      <v-btn value="center">
                        หวานปกติ
                      </v-btn>

                      <v-btn value="right">
                        หวานพิเศษ
                      </v-btn>
                    </v-btn-toggle>
                  </v-card-text>
                  <v-card-action class="ma-2"><v-btn @click="orderStore.dialog = true"
                      color="brown"><v-icon>mdi-cookie-edit-outline</v-icon></v-btn></v-card-action>
                  <v-card-action><v-btn @click="orderStore.addProduct(item)"
                      color="green"><v-icon>mdi-plus-thick</v-icon></v-btn></v-card-action>
                </v-card>
              </v-col>
            </v-row>
          </v-container>
        </v-col>
        <v-col>
          <v-card color="brown">
            <v-table id="customers" fixed-header height="450">
              <thead>
                <tr>
                  <th>ชื่อ</th>
                  <th>ราคา</th>
                  <th>จำนวน</th>
                  <th>ราคารวม</th>
                  <th>Options</th>
                </tr>
              </thead>
              <tbody>
                <tr v-for="(item, index) of orderStore.orderList" :key="index" class="text-center">
                  <td>{{ item.product.name }}</td>
                  <td>{{ item.product.price }}</td>
                  <td>{{ item.amount }}</td>
                  <td>{{ item.sum }}</td>
                  <td><v-btn @click="orderStore.deleteProduct(index)" color="error">X</v-btn></td>
                </tr>
              </tbody>
            </v-table>
          </v-card>
          <v-spacer></v-spacer>
          <v-col width="100%"></v-col>
          <v-col class="text-center">
            <v-card variant="elevated">
              <div>
                <v-card-title>ราคารวม : {{ orderStore.sumPrice }} บาท</v-card-title>
              </div>
              <div>
                <v-card-title>จำนวน : {{ orderStore.sumAmount }} รายการ</v-card-title>
              </div>
              <div>
                <v-card-title>ส่วนลด : {{ discountAmount }}</v-card-title>
              </div>
              <div>
                <v-col>
                  <v-text-field class="small text-center" label="กรอกโค้ดส่วนลด!!!!" append-inner-icon="mdi-sale-outline"
                    v-model="discountCode"></v-text-field></v-col>
              </div>
            </v-card>
          </v-col>

          <div><v-btn @click="orderStore.openOrder()" size="x-large" style="margin: 10px; width: 92%;"
              append-icon="mdi-cash-register" color="green">ทำรายการ</v-btn></div>
          <div><v-btn @click="customerStore.dialog = true" size="x-large" style="margin: 10px; width: 92%;"
              append-icon="mdi-account-multiple-plus-outline" color="brown">สมัครสมาชิก</v-btn><v-btn to="/cuslist"
              size="x-large" style="margin: 10px; width: 92%;" append-icon="mdi-account-multiple-plus-outline"
              color="brown">สะสมแต้ม</v-btn>
            <v-btn size="x-large" style="margin: 10px; width: 92%;" append-icon="mdi-printer-outline" color="brown"
              @click="orderStore.dialogrep = true">พิมพ์ใบเสร็จ</v-btn>
          </div>
          <div>
            <v-btn @click="cashStore.dialog = true" size="x-large" style="margin: 10px;" prepend-icon="mdi-cash-multiple"
              color="brown">เงินสด</v-btn>
            <v-btn @click="credStore.dialog = true" size="x-large" style="margin: 10px;"
              prepend-icon="mdi-credit-card-fast" color="brown">บัตรเครดิต</v-btn>
            <v-btn @click="qrcodeStore.dialog = true" size="x-large" style="margin: 10px;" prepend-icon="mdi-qrcode"
              color="brown">QR Code</v-btn>
          </div>
        </v-col>

      </v-row>
    </v-container>

    <v-bottom-navigation bg-color="brown" width="100%" color="brown" height="100px"
      class="d-flex align-center justify-center">
      &copy; Created by Ford-Ranger
    </v-bottom-navigation>
  </v-parallax>
</template>

<style scoped>
#customers tr:nth-child(even) {
  background-color: #f2f2f2;
}

#customers tr:hover {
  background-color: #ddd;
}

#customers th {
  background-color: #795548;
  color: white;
  text-align: center;
}

.small {
  font-size: 12px;
}

.text-center {
  text-align: center;
}
</style>
<script lang="ts">
export default {
  data() {
    return {
      discountCode: '',
    }
  },
  computed: {
    discountAmount() {
      if (this.discountCode === 'NEWFORD') {
        return '5 บาท';
      } else if (this.discountCode === 'FORD10') {
        return '10 บาท';
      } else if (this.discountCode === 'FORD999') {
        return '999 บาท';
      } else {
        return '';
      }
    },
    // discountDeli() {
    //   if (this.discountCode === 'FREEDELI') {
    //     return '10 บาท';
    //   } else {
    //     return '';
    //   }
    // }
  }

}
</script>