<script lang="ts" setup>
import { useOrderStore } from "@/stores/order";
import { useProductStore } from "@/stores/product";
import { ref } from "vue";
import type { VForm } from "vuetify/components";
const form = ref<VForm | null>(null);
const orderStore = useOrderStore();
const productStore = useProductStore();

</script>
<template>
  <v-dialog v-model="orderStore.dialog" persistent width="550">
    <v-card color="white">
      <v-card-title>
        <span class="text-h5"><v-icon aria-hidden="false" style="margin: 15px;">mdi-cookie-edit-outline</v-icon>Options</span>
      </v-card-title>
      <v-card-text>
        <v-form ref="form">
          <v-container>
            <v-row>
              <v-col cols="12">
              <v-btn-toggle>
      <v-checkbox color="brown" label="ไช่มุก (+5 บาท)"></v-checkbox>
      <v-checkbox color="brown" label="ฟรุทสลัด (+5 บาท)"></v-checkbox>
      <v-checkbox color="brown" label="วิปครีม(+10 บาท) " ></v-checkbox>
      </v-btn-toggle>
              </v-col>
            </v-row>
          </v-container>
        </v-form>
      </v-card-text>
      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn color="white" variant="elevated" @click="orderStore.dialog = false">
          Close
        </v-btn>
        <v-btn color="white" variant="elevated" @click="orderStore.dialog = false"> Save </v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>
