<script setup lang="ts">
import { useAuthStore } from '@/stores/auth';
const loginStore = useAuthStore();


</script>

<template>
  <v-navigation-drawer
  color="brown"
        expand-on-hover
        rail
      >

        <v-list density="compact" nav>
          <v-list-item prepend-icon="mdi-home" title="Home Page" value="home page" to="/"></v-list-item>
          <v-list-item prepend-icon="mdi-cash-register" title="Point of Sell" value="Point of sell" to="/pointofsell"></v-list-item>
          <v-list-item prepend-icon="mdi-monitor-dashboard" title="Dashboard" value="Dashboard" to="/dashboard"></v-list-item>


          <v-list-group value="Product">
            <template v-slot:activator="{ props }">
            <v-list-item
            v-bind="props"
            prepend-icon="mdi-coffee"
            title="Product"
          ></v-list-item>
        </template>
          <v-list-item prepend-icon="mdi-coffee" title="Product List" value="Product List" to="/prodlist"></v-list-item>
          <v-list-item prepend-icon="mdi-format-list-bulleted-type" title="Product List Query" value="Product List Query" to="/prolistquery"></v-list-item>
          <v-list-item prepend-icon="mdi-spoon-sugar" title="Material" value="Material" to="/matlist"></v-list-item>
        </v-list-group>

          <v-list-group value="User">
            <template v-slot:activator="{ props }">
            <v-list-item
            v-bind="props"
            prepend-icon="mdi-account"
            title="User"
          ></v-list-item>
        </template>
          <v-list-item prepend-icon="mdi-account-hard-hat" title="Employee" value="Emp" to="/emplist"></v-list-item>
          <v-list-item prepend-icon="mdi-account-key" title="User" value="User" to="/userlist"></v-list-item>
          </v-list-group>
          <v-list-item prepend-icon="mdi-account-multiple-plus" title="Member" value="Customer" to="/cuslist"></v-list-item>

          <v-list-group value="History">
            <template v-slot:activator="{ props }">
            <v-list-item
            v-bind="props"
            prepend-icon="mdi-history"
            title="History"
          ></v-list-item>
        </template><v-list-item prepend-icon="mdi-history" title="Order History" value="orderhistory" to="/orderlist"></v-list-item>
          <v-list-item prepend-icon="mdi-receipt-text-check-outline" title="Receipt History" value="orderhistoryrep" to="/orderlistrep"></v-list-item></v-list-group>
           </v-list>
          
          <v-list density="compact" nav>
          <v-list-item prepend-icon="mdi-logout" title="Logout" value="Logout" @click="loginStore.logout"></v-list-item>
        </v-list>
        
      </v-navigation-drawer>
</template>
