<script setup lang="ts">
import { ref } from 'vue';

const dialog = ref(false);
const title = ref("Title");
const desc = ref("Desc");
const ok = ref("Ok");
const cancle = ref("Cancle");
let onOk: (value: unknown) => void;
let onCancle: (value: unknown) => void;
const openDialog = (titleStr: string, descStr: string, okStr: string = "Ok", cancleStr: string = "cancle") => {
  title.value = titleStr;
  desc.value = descStr;
  ok.value = okStr;
  cancle.value = cancleStr;
  dialog.value = true;
  return new Promise((resolve, reject) => {
    onOk = resolve;
    onCancle = reject;
  })
};
defineExpose({ openDialog })
function cancleFunc() {
  dialog.value = false;
  onCancle("Cancle")
}
function okFunc() {
  dialog.value = false;
  onOk("Ok")
}

</script>

<template>
  <v-row justify="center">
    <v-dialog
      v-model="dialog"
      persistent
      width="auto"
    >
      <template>
      </template>
      <v-card color="brown">
        <v-card-title class="text-h5">
         {{ title }}
        </v-card-title>
        <v-card-text>{{ desc }}</v-card-text>
        <v-card-actions justify="center">
          <v-spacer></v-spacer>
          <v-btn

            @click="cancleFunc"
          >
            {{ cancle }}
          </v-btn>
          <v-btn

            @click="okFunc"
          >
            {{ ok }}
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-row>
</template>
