<script lang="ts" setup>
import { useLoadingStore } from "@/stores/loading";

const loadingStore = useLoadingStore();
</script>
<template>
  <v-dialog v-model="loadingStore.isLoading" persistent width="auto" color="brown">
        <v-progress-circular
          :size="70"
          color="brown-darken-4"
          indeterminate
        ></v-progress-circular>
  </v-dialog>
</template>
