<script setup lang="ts">
import { useMessageStore } from '@/stores/message';

const messageStore = useMessageStore();
</script>
<template>
  <div class="text-center">
    <v-snackbar
    color="brown"
      v-model="messageStore.snackbar"
      vertical
    >
      <div class="text-subtitle-1 pb-2"><v-icon style="margin: 5px;">mdi-alert-circle-outline</v-icon>คำเตือน</div>

      <p>{{ messageStore.message }}</p>

      <template v-slot:actions>
        <v-btn
          color="red"
          variant="text"
          @click="messageStore.snackbar = false"
        >
          Close
        </v-btn>
      </template>
    </v-snackbar>
  </div>
</template>