<script setup lang="ts">
import { useMessageStore } from '@/stores/message';
import { useSuccessStore } from '@/stores/success';

const successStore = useSuccessStore();
</script>
<template>
  <div class="text-center">
    <v-snackbar color="success" :timeout="1500" rounded="pill" v-model="successStore.snackbar">

      <p class="text-center">{{ successStore.success }} <v-icon>mdi-check-circle-outline</v-icon></p>

      <template v-slot:actions>
      </template>
    </v-snackbar>
  </div>
</template>