<script lang="ts" setup>
import { useOrderStore } from "@/stores/order";
import { onMounted, ref } from "vue";
import type { VForm } from "vuetify/components";
const form = ref<VForm | null>(null);
const orderStore = useOrderStore();
function formatDate(itemDate?: string) {
  console.log(typeof itemDate)
  const formatedDate = new Date(itemDate ?? '')
  const date = formatedDate.toLocaleString()
  const time = formatedDate.toTimeString()
  return `${date} `;
}
onMounted(async () => {
  console.log(import.meta.env)
  await orderStore.getOrders();
});

</script>
<template>
  <v-dialog v-model="orderStore.dialogrep" width="1024">
    <v-card>
      <v-card-title>
        <span class="text-h5"><v-icon aria-hidden="false" style="margin: 15px;">mdi-receipt-text-check-outline</v-icon>ใบเสร็จ</span><v-spacer></v-spacer>
      </v-card-title>

      <v-card-text>
        <v-form ref="form">
          <v-container>
    <v-row>
    <v-col cols="4" v-for="item of orderStore.orders" :key="item.id">
      <v-card class="pa-2 justify-center text-center" variant="outlined">
        <v-card-title><v-icon>mdi-receipt-text-check-outline</v-icon></v-card-title>
        <v-card-title>เลขที่ใบเสร็จ: {{ item.id }}</v-card-title>
        <v-card-title>================</v-card-title>
        <v-list>
          <v-list-item-title>วันที่: {{ formatDate(item.createdDate) }}</v-list-item-title>

          <v-list-item-title>รายการสินค้า: {{ item.amount }}</v-list-item-title>
              <v-list-item-title>--------------------------------------------</v-list-item-title>
          <v-list-item v-for="orderItem of item.orderItems" :key="orderItem.id">
            <v-list-item-content>
              <v-list-item-title>{{ orderItem.name }}</v-list-item-title>
              <v-list-item-title> ราคา: {{ orderItem.price }} บาท, จำนวน : {{ orderItem.amount }}</v-list-item-title>
            </v-list-item-content>
          </v-list-item>
          <v-list-item-title>--------------------------------------------</v-list-item-title>

        </v-list>
        <v-list-item-title>ส่วนลด: </v-list-item-title>
        <v-list-item-title>รวม: {{ item.amount }} รายการ</v-list-item-title>
        <v-card-title>ยอดสุทธิ: {{ item.total }} บาท</v-card-title>
        <v-card-title><v-icon>mdi-cat</v-icon> Thank You <v-icon>mdi-cat</v-icon></v-card-title>
      </v-card>
    </v-col>
    </v-row>
  </v-container>
    
        </v-form>
      </v-card-text>
      <v-card-actions>
        <v-spacer></v-spacer>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>
