<script lang="ts" setup>
import { useOrderStore } from "@/stores/order";
import { onMounted, ref } from "vue";
import type { VForm } from "vuetify/components";
const form = ref<VForm | null>(null);
const orderStore = useOrderStore();
onMounted(async () => {
  // await categoryStore.getCategories();
  // await productStore.getProductsByCategory(productStore.category);
  await orderStore.getOrderCharts();
});
</script>
<template>
  <v-dialog v-model="orderStore.dialog" persistent width="1024">
    <v-card color="brown">
      <v-card-title>
        <span class="text-h5"><v-icon aria-hidden="false"
            style="margin: 15px;">mdi-sitemap-outline</v-icon>Order Items</span><v-spacer></v-spacer>
        <span><v-btn @click="orderStore.delOrderProcedures()" color="brown-lighten-1" prepend-icon="mdi-more"
            rounded="pill">Press to Call Procudures</v-btn></span>
      </v-card-title>

      <v-card-text>
        <v-form ref="form">
          <v-container>
            <v-table id="customers" fixed-header height="750">
              <thead>
                <tr>
                  <th>ID</th>
                  <th>Name</th>
                  <th>QTY</th>
                  <th>Price</th>
                </tr>
              </thead>
              <tbody v-for="item of orderStore.orders" :key="item.id">
                <tr v-for="orderItem of item.orderItems" :key="orderItem.id">
                  <td>{{ item.id }}</td>
                  <td>{{ orderItem.name }}</td>
                  <td>{{ orderItem.amount }} </td>
                  <td>{{ orderItem.price }}</td>
                </tr>
              </tbody>
            </v-table>
          </v-container>
        </v-form>
      </v-card-text>
      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn color="white" variant="elevated" @click="orderStore.dialog = false">
          Close
        </v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>
