<script lang="ts" setup>
import OrderHeader from '@/components/headers/OrderHeader.vue';
import { onMounted, ref } from 'vue';
import { useOrderStore } from '@/stores/order';
import OrderItemDialog from './OrderItemDialog.vue';
const orderStore = useOrderStore();
function formatDate(itemDate?: string) {
  console.log(typeof itemDate)
  const formatedDate = new Date(itemDate??'')
  const date = formatedDate.toLocaleDateString()
  const time = formatedDate.toTimeString()
  return `Date : ${date} Time : ${time}`; 
}

onMounted(async () => {
  console.log(import.meta.env)
  await orderStore.getOrders();
});


</script>
<template>
  <OrderHeader></OrderHeader>
  <OrderItemDialog></OrderItemDialog>
  <v-parallax
  src="black-and-white-coffee-shop-background-eps-free-vector.jpg"
    height="auto"
  >
  <v-container>
    <v-btn @click="orderStore.dialog= true" color="brown-lighten-1" prepend-icon="mdi-more" rounded="pill">More ...</v-btn>
   
    <v-container>
      <v-table id="customers" fixed-header height="750">
        <thead>
          <tr>
            <th>ID</th>
            <th>Amount</th>
            <th>Total</th>
            <th>Order Date and Time</th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="item of orderStore.orders" :key="item.id">
            <td>{{ item.id }}</td>
            <td>{{ item.amount }} QTY </td>
            <td>{{ item.total }} Bath </td>
            <td>{{ formatDate(item.createdDate) }}<v-icon class="ma-5">mdi-clock-check-outline</v-icon></td>
          </tr>
        </tbody>
      </v-table>
    </v-container>

  </v-container>
  </v-parallax>
  <v-bottom-navigation bg-color="brown" width="100%" color="brown" height="100px"
    class="d-flex align-center justify-center">
    &copy; Created by Ford-Ranger
  </v-bottom-navigation>
</template>
<style scoped>
#customers tr:nth-child(even) {
  background-color: #f2f2f2;
}

#customers tr:hover {
  background-color: #ddd;
}

#customers th {
  background-color: #795548;
  color: white;
  text-align: center;
}
#customers td {
  text-align: center;
}
</style>
