<script lang="ts" setup>
import RepHeader from '@/components/headers/RepHeader.vue';
import { onMounted, ref } from 'vue';
import { useOrderStore } from '@/stores/order';
import OrderItemDialog from './OrderItemDialog.vue';
const orderStore = useOrderStore();
function formatDate(itemDate?: string) {
  console.log(typeof itemDate)
  const formatedDate = new Date(itemDate ?? '')
  const date = formatedDate.toLocaleString()
  const time = formatedDate.toTimeString()
  return `${date} `;
}

onMounted(async () => {
  console.log(import.meta.env)
  await orderStore.getOrders();
});


</script>
<template>
  <RepHeader></RepHeader>
  <v-parallax
  src="black-and-white-coffee-shop-background-eps-free-vector.jpg"
    height="auto"
  >
  <OrderItemDialog></OrderItemDialog>
  <v-col cols="12" >
    
  <v-container>
    <v-btn @click="orderStore.dialog = true" color="brown-lighten-1" prepend-icon="mdi-more" rounded="pill">More
      ...</v-btn>
    <v-container>
    <v-row>
      <v-col cols="2" v-for="item of orderStore.orders" :key="item.id">
      <v-card class="pa-2 justify-center text-center">
        <v-card-title><v-icon>mdi-receipt-text-check-outline</v-icon></v-card-title>
        <v-card-title>เลขที่ใบเสร็จ: {{ item.id }}</v-card-title>
        <v-card-title>==============</v-card-title>
        <v-list>
          <v-list-item-title>วันที่: {{ formatDate(item.createdDate) }}</v-list-item-title>

          <v-list-item-title>รายการสินค้า: {{ item.amount }}</v-list-item-title>
              <v-list-item-title>----------------------------------------</v-list-item-title>
          <v-list-item v-for="orderItem of item.orderItems" :key="orderItem.id">
            <v-list-item-content>
              <v-list-item-title>{{ orderItem.name }}</v-list-item-title>
              <v-list-item-title> ราคา: {{ orderItem.price }} บาท, จำนวน : {{ orderItem.amount }}</v-list-item-title>
            </v-list-item-content>
          </v-list-item>
          <v-list-item-title>----------------------------------------</v-list-item-title>

        </v-list>
        <v-list-item-title>ส่วนลด: </v-list-item-title>
        <v-list-item-title>รวม: {{ item.amount }} รายการ</v-list-item-title>
        <v-card-title>ยอดสุทธิ: {{ item.total }} บาท</v-card-title>
        <v-card-title><v-icon>mdi-cat</v-icon> Thank You <v-icon>mdi-cat</v-icon></v-card-title>
      </v-card>
    </v-col>
    </v-row>
  </v-container>
    
  </v-container>
</v-col>
  </v-parallax>
  <v-bottom-navigation bg-color="brown" width="100%" color="brown" height="100px"
    class="d-flex align-center justify-center">
    &copy; Created by Ford-Ranger
  </v-bottom-navigation>
</template>
<style scoped>
#customers tr:nth-child(even) {
  background-color: #f2f2f2;
}

#customers tr:hover {
  background-color: #ddd;
}

#customers th {
  background-color: #795548;
  color: white;
}
</style>
