<script setup lang="ts">
import LoadingDialog from './components/LoadingDialog.vue';
import MessageDialog from './components/MessageDialog.vue';
import FullLayout from './layouts/FullLayout.vue';
import MainLayout from './layouts/MainLayout.vue';

</script>
<template>
  <component :is="$route.meta.layout === 'MainLayout' ? MainLayout : FullLayout">
  </component>
  <MessageDialog />
  <LoadingDialog></LoadingDialog>
</template>
<style scoped></style>
