<script setup lang="ts">

</script>

<template>
  <v-layout>
    <v-main>
      <RouterView></RouterView>
      <RouterView name="header"></RouterView>
      <RouterView name="menu"></RouterView>
    </v-main>


  </v-layout>
</template>