<script lang="ts" setup>
import { useUserStore } from "@/stores/user";
import { ref } from "vue";
import type { VForm } from "vuetify/components";
const form = ref<VForm | null>(null);
const userStore = useUserStore();
async function save() {
  const { valid } = await form.value!.validate();
  if ( valid ) {
    await userStore.saveUser()
  }
}
const visible = ref(false);
</script>
<template>
  <v-dialog v-model="userStore.dialog" persistent width="1024">
    <v-card color="brown">
      <v-card-title>
        <span class="text-h5"><v-icon aria-hidden="false" style="margin: 15px;">mdi-account-check</v-icon>User</span>
      </v-card-title>
      <v-card-text>
        <v-form ref="form">
          <v-container>
            <v-row>
              <v-col cols="12">
                <v-text-field
                bg-color="brown-lighten-1"
                  label="Username*"
                  required
                  v-model="userStore.editedUser.name"
                  :rules="[
                    (v) => !!v || 'Item is required',
                    (v) => v.length >= 3 || 'Length must more than 3',
                  ]"
                  append-inner-icon="mdi-account-circle"
                ></v-text-field>
              </v-col>
              <v-col cols="12">
                <v-text-field
                bg-color="brown-lighten-1"
                  label="Email*"
                  required
                  v-model="userStore.editedUser.email"
                  :rules="[(v) => !!v || 'Item is required',
                (v) =>
                  /^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$/.test(v) ||
                  'Email is not valid!!',
              ]"
              append-inner-icon="mdi-email"
                ></v-text-field>
              </v-col>
              <v-col cols="12">
                <v-text-field
                bg-color="brown-lighten-1"
                  label="Password*"
                  required
                  v-model="userStore.editedUser.password"
                  :rules="[
                    (v) => !!v || 'Item is required',
                  ]"
                  :type="visible ? 'text' : 'password'"
                  @click:append-inner="visible = !visible"
                  :append-inner-icon="visible ? 'mdi-eye-off' : 'mdi-eye'"
                ></v-text-field>
              </v-col>
              <v-col col="12"><v-file-input v-model="userStore.editedUser.files"
                accept="image/*"
                label="File input"
                prepend-icon="mdi-camera"
                ></v-file-input></v-col>
            </v-row>
          </v-container>
        </v-form>
      </v-card-text>
      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn
          color="white"
          variant="elevated"
          @click="userStore.dialog = false"
        >
          Close
        </v-btn>
        <v-btn color="white" variant="elevated" @click="save"> Save </v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>
