<script lang="ts" setup>
import { useUserStore } from '@/stores/user';
import UserDialog from './UserDialog.vue';
import UserHeader from '@/components/headers/UserHeader.vue';
import MessageDialog from '@/components/MessageDialog.vue';
import ConfirmDialog from '@/components/ConfirmDialog.vue';
import SuccessDialog from '@/components/SuccessDialog.vue';
import { onMounted, ref } from 'vue';
const userStore = useUserStore();
const confirmDlg = ref();
onMounted(async ()=> {
  await userStore.getUsers();
});
const deleleUser = async (id: number) => {
  try {
    await confirmDlg.value.openDialog("Please Confirm", `คุณต้องลบหรือไม่`);
    userStore.deleteUser(id);
  } catch(e) { /* empty */ } 
}

</script>
<template>
<UserHeader></UserHeader>
<v-parallax
    src="black-and-white-coffee-shop-background-eps-free-vector.jpg"
    height="auto"
  >
<v-container>
  <SuccessDialog></SuccessDialog>
  <MessageDialog></MessageDialog>
  <user-dialog></user-dialog>

  <v-btn @click="userStore.dialog=true" color="brown-lighten-1" prepend-icon="mdi-pen-plus" rounded="pill">Add New</v-btn>
  
<v-container>
  <v-table id="customers" fixed-header height="750">
    <thead>
      <tr>
        <th>Image</th>
        <th>Name</th>
        <th>Email</th>
        <th>Operations</th>
      </tr>
    </thead>
    <tbody>
      <tr v-for="item of userStore.users" :key="item.id">
        <td><v-img :src="`http://localhost:3000/users/image/${item.image}`" height="128px"></v-img></td>
        <td>{{ item.name }}</td>
        <td>{{ item.email }}</td>
        <td>
          <v-btn class="mr-5" 
           color="amber lighten-5" @click="userStore.editUser(item)" rounded="lg"><v-icon>mdi-note-edit-outline</v-icon></v-btn
          ><v-btn color="red lighten-1" @click="deleleUser(item.id!)" rounded="lg"><v-icon>mdi-trash-can-outline</v-icon></v-btn>
        </td>
      </tr>
    </tbody>
  </v-table>
</v-container>

</v-container>
</v-parallax>
<ConfirmDialog ref="confirmDlg"></ConfirmDialog>
<v-bottom-navigation  bg-color="brown"

        width="100%"
        color="brown"
        height="100px"
        class="d-flex align-center justify-center"
      >
        &copy; Created by Ford-Ranger
</v-bottom-navigation>
  </template>
<style scoped>
#customers tr:nth-child(even) {
  background-color: #f2f2f2;
}

#customers tr:hover {
  background-color: #ddd;
}

#customers th {
  background-color: #795548;
  color: white;
  text-align: center;
}
#customers td {
  text-align: center;
}
</style>
